@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
   height: 100%;
    /* background: rgb(12, 27, 34); */
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    -webkit-overflow-scrolling: none;
    overflow: hidden;

}

img {
  width: 40%;
}

.name {
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.enter {
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: auto;
}

.enter p {
    color: #e63946;
    letter-spacing: 3mm;
    font-weight: bold;
}

.enter a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  background-color: rgb(22, 22, 22);
  /* border: 1px solid rgb(22, 22, 22); */
  top: 60%;
  padding: 10px;
  border-radius: 50%;
}

.fade-in {
	-webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5s both;
	        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5s both;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

.line {
    width: 15em;
    border-right: 2px solid rgb(22, 22, 22);;
    font-size: 150%;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 2mm;
}

/*Animation*/

.typewriter-effect {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 12em;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgb(22, 22, 22);
    }
    to {
          border-right-color: transparent;
    }
}

@media screen and (max-width: 500px) {
  img {
    width: 80%;
  }
    .enter p {
        font-size: 10px;
        letter-spacing: 2mm;
    }

    .line {
        font-size: 15px;
        width: 11em;
        letter-spacing: 1mm;
    }

    @keyframes typewriter {
        from {
              width: 0;
        }
        to {
              width: 11em;
        }
    }
}