.header-color {
  background: rgb(48, 48, 48);
}
.about-content {
  position: absolute;
  margin: auto;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70%;
  width: 90%;
  overflow-y: scroll;
  background: #e38d83;
  color: white;
  padding: 20px;
}

.avatar-content {
  /* border: 1px solid black; */
}

.static-div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.about-logo {
  width: 80%;
  margin-top: 20px;
  margin-left: 40px;
  visibility: hidden;
}
.avatar-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.about-info {
  text-align: center;
  position: fixed;
  top: 20%;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.about-info h4 {
  font-family: "Hind", sans-serif;
  color: rgb(218, 214, 214);
  text-align: center;
}

.about-info h5 {
  font-family: "Quicksand", sans-serif;
  color: rgb(189, 185, 185);
}

@media only screen and (max-width: 900px) {
  .static-div {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .about-logo {
    visibility: visible;
  }

  .about-content {
    height: 84%;
  }

  .static-div {
    width: 100%;
  }
}
