.contact-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70%;
  width: 70%;
  padding: 20px;
}

.contact-div h3 {
  text-align: left;
  font-family: "Hind", sans-serif;
}

.contact-div p {
  font-family: "Quicksand", sans-serif;
  text-align: left;
}

@media only screen and (max-width: 650px) {
  .contact-div h3,
  p {
    text-align: initial;
  }
}
