/* imports */

@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");
@import url("https://fonts.googleapis.com/css?family=Hind");

/* landing page */

.header-content {
  height: 100vh;
  overflow: hidden;
}

/* content grid */

.landing-grid {
  text-align: center;
  position: fixed;
  top: 15%;
  left: 0;
  height: 100%;
  width: 100%;
}

.avatar {
  height: 400px;
  width: 300px;
}

.welcome {
  display: block;
}

.header-logo {
  width: 90%;
  display: none;
}

.name-icon {
  width: 20%;
}

.banner-text {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  padding: 10px;
  font-size: 30px;
  border: 4px solid rgb(22, 22, 22);
  padding: 15px;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.social-links i {
  color: rgb(3, 3, 3);
  font-size: 1.5em;
  padding: 10px;
}

/* scroll button */

.scroll-down {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid rgb(20, 20, 20);
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transform: scale(1);
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid rgb(37, 37, 37);
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes text {
  0% {
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
  }
}

/* media query for mobile layout */

@media only screen and (max-width: 1050px) {
  .banner-text {
    font-size: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .top-menu {
    display: none;
  }
  .landing-grid {
    top: 10%;
  }

  .header-logo {
    display: block;
  }

  .welcome {
    display: none;
  }

  .banner-text {
    width: 80%;
    margin-top: 20px;
    font-size: 25px;
  }

  .social-links i {
    font-size: 1.5em;
    padding: 10px;
  }

  .avatar {
    height: 250px;
    width: 170px;
  }
}

@media only screen and (max-height: 700px) {
  .landing-grid {
    top: 20%;
  }
  
  .avatar {
    height: 300px;
    width: 200px;
  }

  .banner-text {
    font-size: 24px;
    width: 40%;
  }
}
