.title-img {
  margin-top: 20px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.side-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  margin-top: 40px;
}

.header-nav {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ffff;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
  font: 12px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  padding-top: 20px;
}

.header-nav a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  color: rgb(26, 26, 26);

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header-nav ul {
  width: auto;
  text-align: center;
  display: inline-block;

  list-style: none;
}

.header-nav ul li {
  float: left;
}

.side-menu {
  display: none;
}

@media only screen and (max-width: 500px) {
  .header-nav {
    /* visibility: hidden; */
    display: none;
  }
  .side-menu {
    display: block;
    /* visibility: visible; */
  }
}
